@using Login_Test.Models.ViewModels
@model RegisterVM 
<h2>Register</h2>


<form method="post">
    <div>
       <label>First Name</label>
       <input type="text" asp-for="FirstName" class="form-control"/>
       <label>Last Name</label>
        <input type="text" asp-for="LastName" class="form-control" />
        <label>User Name</label>
        <input type="text" asp-for="UserName" class="form-control" />
        <label>Address</label>
        <input type="text" asp-for="Address" class="form-control" />
        <label>Email</label>
        <input type="text" asp-for="Email" class="form-control" />
        <label>Password</label>
        <input type="password" asp-for="Password" class="form-control" />
        <label>Phone Number</label>
        <input type="number" asp-for="PhoneNumber" class="form-control"/>

        <label>Role</label>
        <select asp-for="Role" class="form-control">
            <option value="">Select Role</option>
            @foreach (var role in Model.AvailableRoles)
            {
                <option value="@role">@role</option>
            }
        </select>
    </div> <br />
    <button type="submit">Register</button>
</form>